<p>Greetings!</p>
<p>here is your link to change the password</p>
<p>
    <a style="font-size: 1.5rem;" href="{{ url }}">Да, изменить пароль</a>
</p>

<p>If you didn't request password restoration, just ignore this message</p>